
<ion-view view-title="Cook Profile">
  <ion-content class="padding">
    <img src="https://marvelapp-live.storage.googleapis.com/canvas/2016/11/8bc1d9e5890842e9aff3569c6a67fe51.jpg">
    <h1 class="cook-name">Mom</h1>
    <div class="cook-rating">4.6/5.0</div>
    <div class="cook-pitch">Here's what I'm cooking tonight<div>
    <div class="cook-dish-container">
      <div class="cook-dish" ng-repeat="(id, dish) in ctrl.dishes">
        <img class="cook-dish-image" src="{{dish.imageSrc}}" />
        <h3>{{dish.name}}</h3>
        <button ng-click="ctrl.addPortion(id)">{{dish.price}} £ x {{dish.orderQuantity || ''}}</button>
        <button ng-if="dish.orderQuantity" ng-click="ctrl.removePortion(id)">Remove Portion</button>
        <button ng-if="dish.orderQuantity">Delivery and extra options</button>
        <span ng-if=dish.orderQuantity>Total: {{dish.orderQuantity * dish.price}} £</span>
      </div>
    </div>
  </ion-content>
</ion-view>
