
<ion-view view-title="Cook Profile">
  <ion-content class="padding">
    <div class="cook-info">
      <img class="cook-profile-main" src="{{Ctrl.data.profileImg}}" /></a>
      <div><b>{{Ctrl.data.name}} - {{Ctrl.data.rating}}:</b> {{Ctrl.data.speciality}}</div>
      <div>{{Ctrl.data.pitch}}
    </div>
    <div class="cook-dish-container">
      <div class="cook-dish" ng-repeat="(id, dish) in Ctrl.data.offering">
        <h4>{{dish.date}}</h4>
        <img class="cook-dish-image" src="{{dish.imageSrc}}" />
        <h3>{{dish.name}}</h3>
        <button ng-click="Ctrl.addPortion(id)">{{dish.price}} £ x {{Ctrl.currentOrder[id].quantity || ''}}</button>
        <button ng-if="Ctrl.currentOrder[id].quantity" ng-click="Ctrl.removePortion(id)">Remove Portion</button>
        <button ng-if="Ctrl.currentOrder[id].quantity">Delivery and extra options</button>
        <span ng-if="Ctrl.currentOrder[id].quantity">Total: {{Ctrl.currentOrder[id].quantity * dish.price}} £</span>
      </div>
    </div>
  </ion-content>
</ion-view>
