<ion-view view-title="">
  <ion-content>
    <h1>These are all the orders you have placed</h1>
    <div ng-repeat="order in Ctrl.orders track by $index">
      <table class="order-table">
        <tr>
          <th colspan="4">
            Order id {{$index}}
          </th>
          <th>
            Total: {{order.totalCost}} £
          </th>
        </tr>
        <tr>
          <th colspan="2">
            Dish Ordered
          </th>
          <th>
            Date
          </th>
          <th>
            Portions
          </th>
          <th>
            Cost
          </th>
        </tr>

        <tr ng-repeat="dish in order track by $index" ng-if="dish.quantity">
          <td><img src="{{dish.imageSrc}}" class="cook-profile-listing"/></td>
          <td>{{dish.name}}</td>
          <td>
            <div>{{dish.date}}</div>
            <button>
              Change time/delivery options
            </button>
          </td>
          <td>{{dish.quantity}}</td>
          <td>{{dish.price * dish.quantity}} £</td>
        </tr>
      </table>
    </div>
  </ion-content>
</ion-view>
