<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Listing" icon="listing" href="#/tab/listing">
    <ion-nav-view name="tab-listing"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Orders" icon="orders" href="#/tab/orders">
    <ion-nav-view name="tab-orders"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chat with Mom" icon="chat" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon="profile" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="More" icon="more" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>
